#WeeklySchedulerTable table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin: auto;
}
#WeeklySchedulerTable table thead tr th {
  background: #323e4e;
  color: #d1d5db;
  padding: 0.4em;
  overflow: hidden;
}
#WeeklySchedulerTable table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
#WeeklySchedulerTable table thead tr th:last-child {
  border-radius: 0 3px  0 0;
}
#WeeklySchedulerTable table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
#WeeklySchedulerTable table thead tr th .day.active {
  background: #d1d5db;
  color: #323e4e;
}
#WeeklySchedulerTable table thead tr th .short {
  display: none;
}
#WeeklySchedulerTable table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
/*#WeeklySchedulerTable table tbody tr {
  background: #d1d5db;
}
#WeeklySchedulerTable table tbody tr:nth-child(odd) {
  background: #c8cdd4;
}*/
#WeeklySchedulerTable table tbody tr:nth-child(2n+0) td {
  border-bottom: 1px solid #323e4e;
}
#WeeklySchedulerTable table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #323e4e;
  position: relative;
  height: 20px;
  cursor: pointer;
  border-top: 0px;
}
#WeeklySchedulerTable table tbody tr td:last-child {
  border-right: 1px solid #323e4e;
}
#WeeklySchedulerTable table tbody tr td.hour {
  font-size: 1em;
  padding: 0;
  color: #323e4e;
  background: #fff;
  border-bottom: 1px solid #323e4e;
  border-collapse: separate;
  min-width: 50px;
  cursor: default;
}
#WeeklySchedulerTable table tbody tr td.hour span {
  display: block;
}
@media (max-width: 60em) {
  #WeeklySchedulerTable table thead tr th .long {
    display: none;
  }
  #WeeklySchedulerTable table thead tr th .short {
    display: block;
  }
}
@media (max-width: 27em) {
  #WeeklySchedulerTable table thead tr th {
    font-size: 65%;
  }
  #WeeklySchedulerTable table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  #WeeklySchedulerTable table thead tr th .day.active {
    background: #d1d5db;
    color: #323e4e;
  }
  #WeeklySchedulerTable table tbody tr td.hour {
    font-size: 1.7em;
  }
}
#WeeklySchedulerTable {
  width: 100%;
  font-family: sans-serif;
  line-height: normal;
  margin-bottom: 20px;
}
